# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
venv/
.env
.env.*

# Databases
site.db
*.sqlite
*.sqlite3

# Logs
*.log

# VS Code
.vscode/

# Flask instance folders
instance/

# Auth/OAuth secrets
client_secret*.json
credentials.json

# Cache
.cache/
